:root {
  --Black: #000;
  --Ash: #F4F4F4;
  --Blue: #2A85FF;
  --TextColor: #6F767F;
  --Red: #DC3545;
  --Yellow: #FFC107;
  --Green: #28A745;
  --LightBlue: #F2F7FB;
}


body {
  font-family: 'Inter', sans-serif !important;
  transition: 0.5s;
}


/* Reused styling  */
tr img,
.search-result img {
  width: 40px;
  height: 40px;
  border-radius: 30px
}

.search-result>div,
.books-container {
  background: var(--Ash);
}



/* -------------------------- */
/* MAIN LAYOUT STYLING */
/* ------------------------- */
.mainLayout {
  width: 100%;
  height: 100vh;
  position: relative;
  background: var(--Ash);
  overflow-y: scroll;

}

p,
a,
b,
tr,
th,
input,
label {
  font-size: 0.88em !important;
}

h1,
h2,
h3,
p,
input,
label {
  color: var(--TextColor) !important;
}

input,
button {
  outline: none !important;
  box-shadow: none !important;
}

button,
.btn {
  font-size: 0.86em !important;
  border: 1px dotted var(--Green) !important;
}

.image-preview>div {
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 100%;
  overflow: hidden;
  border: 1px dotted var(--Green);
}

.actionBtn {
  color: var(--Ash);
  background: green;
  border-radius: 30px;
  padding: 0.3em;
  width: 30px;
  height: 30px;
}


/* ----------------------- */
/* SIDEBAR STYLING  */
/* ----------------------- */
.sidebar {
  width: 20%;
  height: 100%;
  z-index: 999;
  transition: 0.3s;
  position: fixed;
}

.sidebar ul li a {
  transition: 0.5s;
}

.sidebar ul li a:hover {
  -webkit-transform: translateX(2%);
  transform: translateX(2%);
}

.sidebar ul li a:hover {
  color: white;
  background: #2D88d4;
  padding-left: 15px;
  margin-left: 0px !important;
}



/* -------------------------- */
/* NAV BAR  */
/* ------------------------- */
nav {
  width: 80%;
  position: fixed;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 90;
}


/* -------------------------- */
/* CONTENT STYLING  */
/* -------------------------- */
.content {
  top: 5%;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 100%;
  padding: 2em;
  position: absolute;
}

.admin-form  .form-control, textarea{
  border: 0 !important;
  background: var(--Ash) !important;
  padding: 1em;
}


/* --------------------------- */
/* OVERVIEW STYLING  */
/* --------------------------- */
.overview .icon {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  padding: 1em;
  justify-content: center;
}

.overview>div:hover {
  cursor: pointer;
  background: var(--LightBlue);
}

.overview .first-icon {
  background: var(--Red);
}

.overview .second-icon {
  background: var(--Yellow);
}

.overview .third-icon {
  background: var(--Green);
}



/* ------------------------ */
/* TABLE DESIGN  */
/* ----------------------- */
.table-responsive {
  top: 15%;
  height: 53vh;
  position: sticky;
  overflow-y: scroll;
}

.table-responsive::-webkit-scrollbar {
  width: 5px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background: var(--Red);
  border-radius: 10px;
}

.table-responsive::-webkit-scrollbar-track {
  background: var(--LightBlue);
}

table {
  border: 1px solid transparent !important;
}

thead {
  top: -0.1em;
  position: sticky;
}




/* --------------------------- */
/* PROFILE COMPONENT STYLING  */
/* -------------------------- */
.book-image-preview {
  width: 80px;
  height: 80px;
}

.book-image-preview img {
  width: 100%;
  height: 100%;
}

.profile-book-display p {
  font-size: 0.8em !important;
}


@media (max-width: 930px) {

  nav,
  .sidebar,
  .content,
  .search-result {
    width: 100%;
  }

  .sidebar {
    left: -100%;
  }

  .openSideBar {
    left: 0;
  }
}


/* background:
    linear-gradient(#100f57, transparent),
    linear-gradient(to top left, #122c84, transparent),
    linear-gradient(to top right, #100f57, transparent);
  background-blend-mode: screen; */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
